@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}


ul {
    list-style: none; 
 }
 #Nav {
     color: #1b2026;
     background-color: #efefef;
     padding: 0px 0px;
     
 }

 .menunavbar-brand {
     color: black;
     font-family: 'DM Sans', sans-serif;
     font-weight: 700;    
     font-size: 28.6px;
     padding-right: 60px;
     text-decoration: none;
    
     
 }
 
 .menunavbar-brand:hover{
    color: black;
 }
 
 
 .menunavbar-brand .logo {
     height: 3.5rem;
     padding-left: 35px;
     padding-right: 0px;
     

 }
 
 .menuNav  ul li a {
    color: #2c2c2c;
     font-weight: 500;
     font-size: 20px;
     margin: 0px 10.56px;
     padding: 0 10.56px;
     font-family: 'DM Sans', sans-serif;
     position: relative;
 }
 
 .menuNav ul li a:before {
    content: '';
    width: 0px;
    height:  3px;
    background: #2c2c2c ;
    position: absolute;
    top: 120%;
    left: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
 }
 
 .menuNav ul li a:after {
 
    content: '';
    width: 0px;
    height:  3px;
    background: #f7d9c4 ;
    position: absolute;
    top: 120%;
    right: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
 }
 
.menuNav  ul li:hover a:before{
     width: 50%;   
     transform: translateX(100%); 
 }
 
 .menuNav ul li:hover a:after {
     width: 50%;   
     transform: translateX(-100%); 
 }
 
 .icones {   
     padding: 0;
     margin: 0;
 }
 
 .icones li {
     display: inline-block;
     list-style: none;   
 }
       
 .icones li a {
     text-decoration: none;
         
   }
 
 .icones li a {
     text-decoration: none;
     /* display: inline; */
 }
 
 .icones i {
     display: flex;
     justify-content: center;
     align-items: center;
     color: black;
     background-color: rgb(255, 255, 255);
     width: 50px;
     height: 50px;
     border-radius: 10px;
     margin: 0px 3px;    
     font-size: 23px;
   }
 
 .icone i{ 
     font-size: 25px;
 }
 .icones li a i:hover {
     background-color: rgb(0, 0, 0);
     color: white;
     transition: 0.5s;
   }
 


/* Section 1 */

#sec1{
    padding: 220px 0px 170px;
    background-color: #1b2026;

}

#textoSecundario {
    padding-bottom: 10px;
    padding-left: 25px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #cdcdcd;
   
}

#textoPrincipal {  
    padding-left: 25px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 70px;
    color: white;
}

.button-sec1{
    border: 0;
    margin-left: 45px;
    margin-top: 60px;
    padding: 16px 32px;
    background-color: white;
    color: #1b2026;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}

.button-sec1:hover{
    transition: 0.3s;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border: white 2px solid;
   
}


/* Section 2*/

.sec2 {
    font-family: 'DM Sans', sans-serif;
    padding:  80px 0px;
    background-color: #efefef; 
}
.coluna1 {
    padding: 20px 20px;
}

.coluna1 img{
    width: 90%;
    border-radius: 10px;
}

.coluna2 {
    padding: 30px 0px;
    padding-top: 75px;
}

.textoPrincipal-sec2 {
    font-weight: bold;
    font-size: 54px;

}

.textoSecundario-sec2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'DM Sans', sans-serif;
    color: #867a82;
    font-size: 20px;
    font-weight: 200;
    color: #867a82;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 400;
}

.button-sec2 {
    border: 0;
    padding: 16px 41px;
    background-color: #1b2026;
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}

.button-sec2:hover {
    color: black;
    background-color: #f7d9c4;    
    transition: 0.5s;

}
.textolista {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    padding-right: 5px;
}
.iconesLista ul{ 
    display: block;
    font-family: 'DM Sans', sans-serif;
    list-style: none;
}



/* Section 3*/

.sec3Container {
    padding-top:  30px;
    padding-bottom: 120px;

}
.tituloSec3 {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 70px;
    padding-top: 30px;
    padding-bottom: 40px;

}

.card {
    background-color: #efefef;

}

.card0 {
    background-color:#1b2026;
    color: rgb(255, 255, 255);
}
.card0 p{
    color: rgb(255, 255, 255);
}

#icon-card0 {
    transform: rotate(95deg);
    color: #fff;
}

.card:hover {
    background-color: #1b2026;
    transition: 0.5s;
    color: white;
}

.card:hover .icon-card{
    transition: 0.5s;
    color: white;
}

.card:hover .card-text{
    transition: 0.5s;
    color: white;
}

.card:hover .icon-card-footer {
    color: #ffffff;
}


.card-body{
    margin-left: 10px;
    padding-left: 25px;
}


.icon-card {
    margin-top: 50px ;
    margin-bottom: 50px;
    font-size: 60px;
    color: #ff8484;
}

.card-title {
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 10px;
    padding-right: 20px;
}

.card-text {
    color: #867a82;
    font-size: 20px;
    font-weight: 400;
}

.icon-card-footer {
    display: flex;
    padding-top: 50px;
    /* padding-left: 20px; */
    font-weight: 400;
    font-size: 70px;
    color: #ff8484;
}

.icon-card-footer p{
    display: inline-block;
    font-family: 'DM Sans', sans-serif;
    color: #efefef;
    font-size: 15px;
}

.icon-card-footer p:hover{
    transition: 1s;
  
}



/* Section 4 */

.sec4 {
    padding:  100px 0px;
    background-color: #efefef; 

}

.sec4container {
    border-radius: 15px;
    padding:  100px 0px;
    background-color: #1b2026;
}
.sub-titulo-sec4 {
    padding-left: 50px;

    color: #ff8484;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}

.titulo-sec4 {
    padding-left: 50px;

    color: white;
    font-size: 55px;
    font-weight: 900;
    font-family: 'DM Sans', sans-serif;
}

.email-sec4 {
    border: none;
    margin-bottom: 55px;
    padding: 20px 0px;
    border-radius: 5px;
    width: 65%;
    background-color: #31363b;
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
    display: inline;



}

.butttonSec4 {
    border: #efefef 1px solid;
    border-radius: 5px;
    padding: 18px 30px;
    background-color: #ff8484;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;

}
.butttonSec4:hover {
    background-color: #31363b;
    transition: .5s;
    color: white;

}

.input-sec4 {
    align-self: flex-end;
}


/* Section 5 */

.sec5 {
    padding: 5%;
}

.img-sec5{
    padding: 20px 20px;

}

.img-sec5 img{
    width: 90%;
    border-radius: 10px;
}

.bloc-texto-sec5{
    padding: 3% ;
    font-family: 'DM Sans', sans-serif;
}

.bloc-texto-sec5 h5 {
    color: #777777;
    font-size: 20px;
}

.bloc-texto-sec5 p {
    color: #777777;
    font-size: 20px;

}

.bloc-texto-sec5 h1{
    font-size: 55px;
    font-weight: bold;
}



.bloc-texto-sec5 ul{
    list-style: none;

}


.bloc-texto-sec5 ul li{
    display: inline-block;
    padding-right: 10px;
}


.icon-sec5{
    padding-right: 20px;
    font-size: 40px;
}

.bloc-texto-sec5 ul li p{
    padding-left: 70px;
}



 /* .coluna-1 ul li{
     display: ;
 } */

 .coluna-1 ul{
    list-style: none;
    line-height: 2.9;
}

.coluna-1 ul li a:hover{
   color: white;
   transition: 0.3s;

}
 .coluna-1 ul li a{

    
    text-decoration: none;
    color: #c4cccd;
    padding-left: 10px;
}

.coluna-2 {
    line-height: 2.9;

}

.coluna-3 {
    line-height: 1.9;

}
.tituloFooter1 {
    text-align: center;
}
.li-footer {
    display: inline-block;
}

.iconesFooter {   
    padding: 0;
    margin: 0;
}

.iconesFooter li {
    display: inline-block;
    list-style: none;   
}

.iconesFooter li a {
    text-decoration: none;
        
}


.iconesFooter i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 0px 3px;    
    font-size: 23px;
  }

.iconeFooter i{ 
    font-size: 25px;
}
.iconesFooter li a i:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.5s;
  }


@media screen  and (max-width: 990px){
    

    .menuNav  ul li a {
       color: #2c2c2c;
        font-weight: 500;
        font-size: 20px;
        margin: 0px 0px;
        padding: 10px 0px;
        font-family: 'DM Sans', sans-serif;
        text-align: center;
    }
    
    
    .menuNav ul li a:before {
       content: '';
       width: 0px;
       height:  3px;
       background: #2c2c2c ;
       position: absolute;
       left: 0;
       transition: 0.5s;
       mix-blend-mode: multiply;
    }
    
    .menuNav ul li a:after {
    
       content: '';
       width: 0px;
       height:  3px;
       background: #f7d9c4 ;
       position: absolute;
       top: 0;
       right: 0;
       transition: 0.5s;
       mix-blend-mode: multiply;
    }
    
   .menuNav  ul li:hover a:before{
        width: 0%;   
        transform: translateX(0%); 
    }
    
    .menuNav ul li:hover a:after {
        width: 0%;   
        transform: translateX(-0%); 
    }
    
    .icones {   
        padding-bottom: 10px;
        margin: 0;
        text-align: center;
    }
    
    .icones li {
        list-style: none;   
    }
          
    .icones li a {
        text-decoration: none;
            
      }
    
    .icones li a {
        text-decoration: none;
        /* display: inline; */
    }
    
    .icones i {
        color: black;
        background-color: rgb(255, 255, 255);
        width: 50px;
        height: 50px;
        border-radius: 10px;
        margin: 0px 3px;    
        font-size: 23px;
      }
    
    .icone i{ 
        font-size: 25px;
    }
    .icones li a i:hover {
        background-color: rgb(0, 0, 0);
        color: white;
        transition: 0.5s;
      }
}
@media screen  and (max-width: 760px){
    #Nav {
        padding: 22px 0px;

    }


    /* Section 1 */

    #sec1{
        padding: 15% ;
        background-color: #1b2026;

    }

    #textoSecundario {
        margin-top: 100px;
        text-align: center;
        font-size: 1rem;
        color: #cdcdcd;
    
    }

    #textoPrincipal {  
        text-align: center;
        font-size: 2.9em;
        color: white;
    }

    .button-sec1{
        text-align: center;
        width: 50%;
        margin-left: 29%;
        margin-right: 30%;
        margin-top: 5%;
        padding: 16px 32px;
       
    }
     /* Section 2*/

    .sec2 {
        padding:  10% 5%;
    }
    .coluna1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .coluna1 img{
        width: 100%;
        border-radius: 10px;
    }

    .coluna2 {
        padding: 30px 0px;
        text-align: center;
    }

    .textoPrincipal-sec2 {
        font-size: 3.0rem;

    }

    .textoSecundario-sec2 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: 'DM Sans', sans-serif;
        color: #867a82;
        font-size: 1.3rem;
        font-weight: 200;
    }


    
    .iconesLista ul{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
    }


    
    /* Section 3*/

    .sec3Container {
        

    }
    .tituloSec3 {
        text-align: center;
        font-size: 3.5rem;

    }

    .card {
        padding-bottom: 0;
        margin-bottom: 0;
        margin-bottom: 10%;
        background-color: #efefef;

    }

    .card0 {
        margin-bottom: 10%;

    }

    .icon-card {
        display: flex;
        justify-content: center;
        font-size: 5.0rem;
        color: #ff8484;
    }

    .card-title {
        text-align: center;
        font-size: 2.5rem;
    }
    
    .card-text {
        text-align: center;
        font-size: 1.5rem;
        padding-top: 2%;
        padding-left: 5%;
    }

    .icon-card-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 9.5rem;
        padding-top: 50px;
        /* padding-left: 20px; */
        font-weight: 400;
        color: #ff8484;
    }

    .icon-card-footer p{
        display: inline-block;
        font-family: 'DM Sans', sans-serif;
        color: #efefef;
        font-size: 15px;
    }


    /* Section 4 */

    .sec4 {
        padding:  100px 0px;
        background-color: #efefef; 

    }

    
    .sub-titulo-sec4 {
        padding-left: 0;
        text-align: center;        
    }

    .titulo-sec4 {
        padding-left: 0;
        text-align: center;        

    }

    .email-sec4 {
        margin-bottom: 30px;
        padding: 20px 0px;
        width: 100%;
        text-align: center;
        font-size: 1.5rem;




    }

    .butttonSec4 {
        padding: 20px 50px;
        background-color: #ff8484;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        width: 100%;

    }

    
    /* Section 5 */

    .sec5 {
        padding: 5%;
    }

    

    .img-sec5 img{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .bloc-texto-sec5{
        text-align: center;
        font-family: 'DM Sans', sans-serif;
    }

    .bloc-texto-sec5 h5 {
        text-align: center;

        color: #777777;
        font-size: 20px;
    }

    .bloc-texto-sec5 p {
        text-align: center;

        color: #777777;
        font-size: 20px;

    }

    .bloc-texto-sec5 h1{
        text-align: center;
        font-size: 55px;
    }



    .bloc-texto-sec5 ul{
        list-style: none;

    }


    .bloc-texto-sec5 ul li{
    padding: 0;        
    }


    .icon-sec5{
        
        padding-right: 0px;
        font-size: 40px;
    }

    .bloc-texto-sec5 ul li p{
        padding-left: 70px;
    }
    
    
    footer {
       padding: 0;
       margin: 0;
    }

}
