@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');
/* Menu */ 
* {
    margin: 0;
    padding: 0;
}
#nav {
    
    background-color: #efefef;
    padding: 27px 0;
}

.navbar-brand {
    color: black;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;    
    font-size: 25.6px;
    padding-right: 90px;
    text-decoration: none;
}

.navbar-brand:hover{
   color: black;
}


.navbar-brand .logo {
    height: 3.0rem;
    padding-left: 35px;
    padding-right: 13px;
    
}

#menuNav ul li a {

    color: #2c2c2c;
    font-weight: 500;
    font-size: 17.6px;
    margin: 0px 10.56px;
    padding: 0 10.56px;
    font-family: 'DM Sans', sans-serif;
    position: relative;
}

#menuNav ul li a:before {
    content: '';
    width: 0px;
    height:  3px;
    background: #2c2c2c ;
    position: absolute;
    top: 120%;
    left: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
}

#menuNav ul li a:after {

    content: '';
    width: 0px;
    height:  3px;
    background: #f7d9c4 ;
    position: absolute;
    top: 120%;
    right: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
}

#menuNav ul li:hover a:before{
    width: 50%;   
    transform: translateX(100%); 
}

#menuNav ul li:hover a:after {
    width: 50%;   
    transform: translateX(-100%); 
}

.icones {   
    padding: 0;
    margin: 0;
    padding-right: 50px;
}
.icones li {
    display: inline-block;
    list-style: none;
          
}
.icones li a {
    text-decoration: none;
    display: inline;
    
  }

.icones i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 0px 3px;    
    font-size: 23px;
    

  }

.icone i{ 
    font-size: 25px;

}
.icones li a i:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.5s;
  }

/* body{
    padding:0px 20px;
} */


/* Section 1 */

.sec-1{
    padding: 205px 0px 200px;
    display: flex;
    background-color: #1b2026;
}

.sec1 {
    align-items: center;
}
#textoPrincipal {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: white;

}

#textoSecundario {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #cdcdcd;

}

.button-sec1{
    padding: 16px 32px;
    background-color: white;
    color: #1b2026;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;


}




/* .button {
    background-color: #fff;
    width: 10rem;
    padding: 16px 32px;
}

.text-black {
    justify-content: center;
    text-decoration: none;
}

#text-0{
    padding: 0px;
} */



/* footer {
    background-color:rgb(34, 34, 34);
    color: #fff;
 }
.footer_info {
   width: 90%;
   margin: 0 auto;
   display: flex;
   padding: 50px 0;
}

.footer_info .footer_width {
   padding: 0 15px;
}

.footer_info h2 {
   margin-bottom: 20px;
}

.about , .get_in_touch {
   width: 40%;
}

.main_links {
   width: 20%;
} */